{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>
					<a href="{{ 'C:/Apache24/htdocs/branchifsc/ifscbranch/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a>
				</code>
			</li>
			<li>Your template at
				<code>
					<a href="{{ 'C:/Apache24/htdocs/branchifsc/ifscbranch/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a>
				</code>
			</li>
		</ul>
	</div>
	<p class="text-secondary">.text-secondary</p>

	<span class="border border-primary">fddgf</span>


{% endblock %}
{% block javascripts %}
{# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> #}


{# {{encore_entry_script_tags('custom')}} #}
<script>
	{# $(document).ready(function () {
alert('tofaay');
});
console.log('hkhjj'); #}
</script>

{% endblock %}
