{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<h1 align="center" class="text-primary">Bank IFSC Codes</h1>	

<div class="col-lg-6 col-md-6 col-xs-6">
<label>Bank</label>
  <select class="custom-select" id="bank">
    <option selected>Choose Bank...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  
</div>
<br/>
<div class="col-lg-6 col-md-6 col-xs-6">
<label>State</label>
  <select class="custom-select" id="state">
    <option selected>Choose State...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  
</div>
<br/>
<div class="col-lg-6 col-md-6 col-xs-6">
<label>District</label>
  <select class="custom-select" id="district">
    <option selected>Choose District...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  
</div>
<br/>
<div class="col-lg-6 col-md-6 col-xs-6">
<label>Place</label>
  <select class="custom-select" id="place">
    <option selected>Choose Place...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  
</div>
	
{% endblock %}
{% block javascripts %}
<script>
$(document).ready(function(){
$('#bank').select2();
$('#state').select2();
$('#district').select2();
$('#place').select2();


});
</script>
{% endblock %}
